<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <!-- Bootstrap Styles -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">   
        <!-- FontAwesome Styles-->
	   <link href="@{'/public/stylesheets/font-awesome.css'}" rel="stylesheet" media="screen" />     
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/escudo.png'}">
        <script src="@{'/public/javascripts/jquery-1.11.3.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        <script src="@{'/public/javascripts/bootstrap.js'}" type="text/javascript" ></script>
        
    </head>
    <body>
   
	  <div class="container">
	  	
	  	<img src="@{'/public/images/logotipo-utc.png'}" height="100px">
	  
	    <!-- Menu -->
		    <nav class="navbar navbar-inverse" role="navigation">
			  <!-- El logotipo y el icono que despliega el menú se agrupan
			       para mostrarlos mejor en los dispositivos móviles -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse"
			            data-target=".navbar-ex1-collapse">
			      <span class="sr-only">Desplegar navegación</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <!-- <a class="navbar-brand" href="/">Admisión</a> -->
			  </div>
			 
			  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
			       otro elemento que se pueda ocultar al minimizar la barra -->
			  <div class="collapse navbar-collapse navbar-ex1-collapse">
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="/">Inicio</a></li>
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          Programas <b class="caret"></b>
			        </a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Desarrollo Humano</a></li>
			          <li><a href="#">Contabilidad y Auditoría</a></li>
			          <li><a href="#">Docencia Universitaria</a></li>		          
			          <li><a href="#">Planeamiento y Adm Educativa</a></li>		          
			          <li><a href="#">Gestión de Energías</a></li>
			          <li><a href="#">Gestión de la producción</a></li>
			          <li><a href="#">Seguridad del Trabajo</a></li>		         		          		          
			        </ul>
			      </li>
			      <li><a href="#">Aplicación</a></li>
			    </ul>
			 
			 	<!-- 
			    <form class="navbar-form navbar-left" role="search">
			      <div class="form-group">
			        <input type="text" class="form-control" placeholder="Buscar">
			      </div>
			      <button type="submit" class="btn btn-default">Enviar</button>
			    </form>formulario bootstrap
			 	 -->
			    <ul class="nav navbar-nav navbar-right">
			     #{ifnot conectado}
			      <li><a href="/secure/login">Ingresar</a></li>
			      <li><a href="@{Usuarios.registro}">Registarse</a></li>
			      #{/ifnot}
			     	
			      #{if conectado}
			   			
			      		#{if conectado.rol.descripcion=='administrador'}
			      			<li><a href="@{Administracion.index}">Administrar</a></li>
			      		#{/if}	       
				      <li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				         <span class="glyphicon glyphicon-user"> </span> ${conectado.nombre} ${conectado.apellido} <b class="caret"></b>
				        </a>
				        <ul class="dropdown-menu">
				          <li><a href="#">  <span class="glyphicon glyphicon-cog"> </span> Configuración</a></li>
				           <li class="divider"></li>
				          <li><a href="/secure/logout"> <span class="glyphicon glyphicon-log-out"> </span> Cerrar Sesión</a></li>
				        </ul>
				      </li>
			      #{/if}
			    </ul>
			  </div>
			</nav>
	   <!-- Fin del Menu -->
        
        #{doLayout /}
        
    </div><!-- container -->
         
    </body>
</html>
